

.titleMain
{
 color:white;
}
#desc
{
color:white;
}
#welcome
{
color:white;
}
.sectionTitle
{
 color:white;
}
.software
{
 color:white;
}
.electronics
{
 color:white;
}
.threedDesign
{
 color:white;
}
.photography
{
 color:white;
}
.fishing
{
 color:white;
}
.socialMediaLinks
{
 color:white;
}
.email
{
 color:white;
}
.footer
{
 color:white;
}