.home
{
padding-top:40px; 
padding-bottom:40px;
padding-right:50px;
padding-left:50px;
}
#welcome
{
	padding-top:40px; 
padding-bottom:40px;
padding-right:15px;
padding-left:15px;
}
.aboutMe
{
padding-top:50px; 
padding-bottom:50px;
padding-right:50px;
padding-left:50px;
}
.software
{
padding-top:50px; 
padding-bottom:100px;
padding-right:50px;
padding-left:50px;
}
.electronics
{
padding-top:50px; 
padding-bottom:100px;
padding-right:50px;
padding-left:50px;
}
.threedDesign
{
padding-top:50px; 
padding-bottom:100px;
padding-right:50px;
padding-left:50px;
}
.photography
{
padding-top:50px; 
padding-bottom:100px;
padding-right:50px;
padding-left:50px;
}
.fishing
{
padding-top:50px; 
padding-bottom:100px;
padding-right:50px;
padding-left:50px;
}
.socialMediaLinks
{
padding-top:50px; 
padding-bottom:100px;
padding-right:50px;
padding-left:50px;
}
.email
{
padding-top:25px; 
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}
.footer
{
padding-top:25px; 
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}