.home
{
text-align: center;
}
.aboutMe
{
text-align: left;
align-content: left;
}
.sectionTitle
{
text-align: center;
}
.software
{
text-align: center;
}
.electronics
{
text-align: center;
}
.threedDesign
{
text-align: center;
}
.photography
{
text-align: center;
}
.fishing
{
text-align: center;
}
.socialMediaLinks
{
text-align: center;
}
.email
{
text-align: center;
}
.footer
{
text-align: center;	
}