
#home
{
padding-top:100px; 
padding-right:100px;
padding-left:50px;
padding-bottom:50px;
}
#aboutMe
{
padding-top:100px; 
padding-right:100px;
padding-left:50px;
padding-bottom:50px;
}
#software
{
padding-top:100px; 
padding-right:100px;
padding-left:50px;
padding-bottom:50px;
}
#link1
{
padding-top:10px; 
padding-right:100px;
padding-left:100px;
padding-bottom:10px;
}
#link2
{
padding-top:10px; 
padding-right:100px;
padding-left:100px;
padding-bottom:10px;
}
#link3
{
padding-top:10px; 
padding-right:100px;
padding-left:100px;
padding-bottom:10px;	
}
